[submodule "Mods/HotMultiCooker"]
	path = Mods/HotMultiCooker
	url = git@github.com:hxhb/HotMultiCooker.git
[submodule "Mods/RemakePak"]
	path = Mods/RemakePak
	url = git@github.com:hxhb/RemakePak.git
[submodule "Mods/libzstd"]
	path = Mods/libzstd
	url = git@github.com:hxhb/ue-zstd.git
[submodule "Mods/HotChunker"]
	path = Mods/HotChunker
	url = git@github.com:hxhb/HotChunker.git
[submodule "Mods/HDiffPatchUE"]
	path = Mods/HDiffPatchUE
	url = git@github.com:hxhb/HDiffPatchUE.git
[submodule "Mods/GameFeaturePacker"]
	path = Mods/GameFeaturePacker
	url = git@github.com:hxhb/GameFeaturePacker.git
[submodule "Mods/ShaderPatcherUE"]
	path = Mods/ShaderPatcherUE
	url = git@github.com:hxhb/ShaderPatcherUE.git
[submodule "Mods/PakAnalyzerUE"]
	path = Mods/PakAnalyzerUE
	url = git@github.com:hxhb/PakAnalyzerUE.git
[submodule "Mods/PSOPackerUE"]
	path = Mods/PSOPackerUE
	url = git@github.com:hxhb/PSOPackerUE.git
